body {
    background: #0f172a;
    font-family: Arial;
    color: white;
    display: flex;
    justify-content: center;
}

.app {
    width: 400px;
    margin-top: 20px;
}

#chat {
    height: 500px;
    overflow-y: auto;
    background: #1e293b;
    padding: 10px;
    border-radius: 10px;
}

.msg {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.user { background: #2563eb; }
.bot { background: #334155; }

.controls {
    display: flex;
    margin-top: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
}